/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* Header Styles */
header {
  background-color: hotpink;
  color: white;
  padding: 1em 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

.btn-logout {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #e63939;
}

/* Courses Section */
.courses {
  padding: 30px;
  background-color: #ffffff;
  text-align: center;
}

.courses h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #003366;
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.course-card {
  background: aliceblue;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 400px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-card h3 {
  color: green;
  margin-bottom: 10px;
}

.course-card .price {
  color: #28a745;
  font-weight: bold;
  margin: 100px 0;
}

.btn-buy {
  background-color: blue;
  width: 300px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-buy:hover {
  background-color: #00509e;
}

/* Footer Styles */
footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  font-size: 0.9rem;
}

