/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #2d3b2f;
  color: white;
  padding: 15px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

nav ul li a:hover {
  color: #61c97d;
}

footer {
  background-color: brown;
  color: white;
  text-align: center;
  padding: 1px;
  position: relative;
  width: 100%;
  bottom: 0;
}

/* Course Cards Styling */
.courses {
  padding: 20px;
  text-align: center;
}

.course-card {
  background-color: aliceblue;
  margin: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.course-card:hover {
  transform: scale(1.05);
}

.course-card h3 {
  font-size: 1.5rem;
  color: #333;
}

.course-card p {
  font-size: 1.1rem;
  color: #666;
}

.course-card .price {
  font-size: 1.2rem;
  color: #2d3b2f;
  font-weight: bold;
}

.btn-buy {
  background-color: #425df5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  width: 40%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-buy:hover {
  background-color: grey;
}

.btn-logout {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-logout:hover {
  background-color: #c0392b;
}

/* Modal Styling for About Us */
.swal2-popup {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.swal2-title {
  font-size: 1.8rem;
  color: #333;
}

.swal2-content {
  font-size: 1.2rem;
  color: #666;
}

.swal2-confirm {
  background-color: #61c97d;
  color: white;
  border-radius: 5px;
}

.swal2-confirm:hover {
  background-color: #4c9a5f;
}
.btn-unlock {
  background-color: #61c97d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  width: 40%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-unlock:hover {
  background-color: grey;
  }
button:disabled {
  background: gray;
  cursor: not-allowed;
}
