body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 1em 0;
}

.courses {
  padding: 20px;
  text-align: center;
}

.course-card {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 250px;
}

.course-card h3 {
  color: #003366;
}

.price {
  color: green;
  font-weight: bold;
}

.btn-buy {
  background-color: #003366;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-buy:hover {
  background-color: #00509e;
}
/* Style for green links */
.green-link {
  color: white;
  text-decoration: none;
}

.green-link:hover {
  text-decoration: underline;
}
.logout-btn {
  position: rigth;
  top: 20px;
  right: 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


