body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fc;
}
.container {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
h1 {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  font-size: 24px;
}
#alertBox {
  display: none;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
#alertBox.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
#alertBox.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}
input {
  width: 94%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
button {
  width: 100%;
  padding: 12px;
  color: white;
  background-color: #941b1b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #941b1b;
}
.switch {
  text-align: center;
  margin-top: 15px;
}
.switch a {
  color: #007BFF;
  text-decoration: none;
  font-size: 14px;
}
.switch a:hover {
  text-decoration: underline;
}
