/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input {
  width: 94%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #09d3de;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #09d3dp;
}

.forgot-password,
.switch {
  margin-top: 10px;
  font-size: 14px;
}

.forgot-password a,
.switch a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password a:hover,
.switch a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}
.succes-message {
  color: green;
  margin-bottom: 10px;
  font-size: 15px;
  
}
