

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 700px;
    background: linear-gradient(135deg, #051c3c, #00ffee);
    border-radius: 10px;
    box-shadow: 0 0 15px #00ffee;
    overflow: hidden;
}

.login-box {
    width: 50%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    font-size: 16px;
}

.input-box label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #aaa;
    font-size: 14px;
    transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -10px;
    left: 0;
    font-size: 12px;
    color: #00ffee;
}

.input-box .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

button {
    width: 100%;
    padding: 10px;
    background: #00ffee;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #00ffee;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

p a {
    color: #00ffee;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.welcome-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 30px;
    background: rgba(0, 0, 0, 0.2);
}
.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}
.succes-message {
  color: green;
  margin-bottom: 10px;
  font-size: 15px;
  
}
