body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
#userInfo {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h2 {
    color: #333;
}
p {
    font-size: 18px;
    color: #555;
}
#backButton, #edit {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#backButton:hover, #edit:hover {
    background-color: #0056b3;
}
#myCheckbox {
    border-radius: 500px;
    cursor: pointer;
    width: 5%;
    height: 20px;
}   
