/* Aasaaska guud ee bogga */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #2d3b2f;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

/* Navigation */
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ddd;
}

/* Section - Purchased Courses */
.purchased-courses {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  margin: 20px;
}

.purchased-courses ul {
  list-style: none;
  padding: 0;
}

.purchased-courses ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.purchased-courses ul li:last-child {
  border-bottom: none;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #2d3b2f;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.goto {
  background: aliceblue;
  color: black;
  width:150px;
  height: 30px;
  border-radius: 1px;
}
